
@{
    ViewBag.Title = "用户登陆";
    Layout = "~/Views/Shared/_LayoutEasyUI.cshtml";
}

<style type="text/css">
    .panel-title {
        text-align:center;
        font-size:large;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        reLoadimg();
        LoadAccount();
    });

    $(function () {
        $("#LoginSys").click(function () {
            LoginSys();
        });
        $("#account").keydown(function (e) {
            var curkey = e.which;
            if (curkey === 13) {
                LoginSys();
                return false;
            }
        });
        $("#Password").keydown(function (e) {
            var curkey = e.which;
            if (curkey === 13) {
                LoginSys();
                return false;
            }
        });
        $("#ValidateCode").keydown(function (e) {
            var curkey = e.which;
            if (curkey === 13) {
                LoginSys();
                return false;
            }
        });
    });

    function LoginSys() {
        $("#mes").html("");
        $("#account").removeClass("input-validation-error");
        $("#Password").removeClass("input-validation-error");
        $("#ValidateCode").removeClass("input-validation-error");
        if ($.trim($("#account").val()) === "") {
            $("#account").addClass("input-validation-error").focus();
            $("#mes").html("用户名不能为空！");
            return;
        }
        if ($.trim($("#Password").val()) === "") {
            $("#Password").addClass("input-validation-error").focus();
            $("#mes").html("密码不能为空！");
            return;
        }
        if ($.trim($("#ValidateCode").val()) === "") {
            $("#ValidateCode").addClass("input-validation-error").focus();
            $("#mes").html("验证码不能为空！");
            return;
        }
        $("#Loading").show();

        var data = { "userid": $("#account").val(), "pwd": $("#Password").val(), "vcode": $("#ValidateCode").val() };

        $.post("/Home/CheckAccount", data, function (stauts) {
            if (stauts === "ok") {
                $("#ValidateCode").val("");
                setAccount();
                window.location.href = "/Home/MainView";
            } else {
                alert(stauts);
            }
        });
        $("#Loading").hide();
        return false;
    }

    function setAccount() {

        var check = $("#remeber").prop('checked');
        if (check) {
            $.cookie('account', $("#account").val());
        }
    }

    function LoadAccount() {
        var account = $.cookie("account");
        if (account !== undefined) {
            $("#account").textbox('setValue', account); 
        }
    }

    function CreanAccount() {
        $.cookie("account", "");
        $('#account').textbox('setValue',"");
    }

    function reLoadimg() {
        jQuery("#codeImg").trigger("click");
    }

    function addarrt() {
        var ent = new EntityTest();
        ent.entityA = "A";
        ent.entityB = "B";
        ent.entityC = "C";

        var str = ent.entityA + "k" + ent.entityB + "k" + ent.entityC;

        alert(str);

    }

    function EntityTest() {
        this.entityA; this.entityB;
    }


</script>

<div>
    <div>
        <div class="define-head" style="height: 65px;">
            <div class="define-logo">
                <div id="LoginTopLine"></div>
                <div id="LoginBotoomLine"></div>
            </div>

        </div>
    </div>

    <div class="container" style="margin-top:100px; padding:20px;">
        <div class="row" style="text-align:center;">
            <div class="col-sm-6 col-xs-12">
                <img src="/Content/Images/account.jpg" class="img-rounded">
            </div>
            <div class="col-sm-6 col-xs-12">

                <div class="easyui-panel" title="系统登陆" style="width:100%;padding:10px 10px;">
                    <div style="margin-bottom:10px">
                        <input id="account" class="easyui-textbox" style="width:100%;height:40px;padding:12px" data-options="prompt:'用户名',iconCls:'icon-man',iconWidth:38">
                    </div>
                    <div style="margin-bottom:10px">
                        <input class="easyui-textbox" id="Password" type="password" style="width:100%;height:40px;padding:12px" data-options="iconCls:'icon-lock',iconWidth:38">
                    </div>

                    <div style="margin-bottom:10px;">
                        <input id="ValidateCode" class="easyui-textbox" style="width:50%; height:40px;padding:12px;" data-options="prompt:'验证码'" />
                        <img id="codeImg" alt="刷新验证码！" style=" cursor: pointer;" src="/Home/VerifyCode" onclick="this.src=this.src+'?'" />
                    </div>

                    <div style="margin-bottom:10px">

                        <div class="checkbox" style="border:none">
                            <label>
                                <input id="remeber" onclick="setAcount()" type="checkbox"> 记住账号
                                <a href="javascript:addarrt()">清除账号</a>
                            </label>
                        </div>
                        
                    </div>
                    <div id="mes" class="field-validation-error" style="color:#ff0000" >
                    </div>
                    <div id="Loading" style="display: none" class='panel-loading'><font color='#000'>加载中...</font></div>
                    <div>
                        <a href="#" id="LoginSys" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:100%;">
                            <span style="font-size:14px;">登陆</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
