
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEasyUI.cshtml";
}

<style>
</style>

<script type="text/javascript">

    $(document).ready(function () {
        keyupanddown();
    });

    function getMoreContents() {
        var keyword = document.getElementById("tags").value;
        if (keyword === "") {
            clearContent();
            return;
        } else {
            var ajax = new XMLHttpRequest();
            var url = "SearchData?keyword=" + keyword;
            ajax.open("GET", url, true);
            ajax.send(null);
            ajax.onreadystatechange = function () {
                if (ajax.readyState === 4) {
                    if (ajax.status === 200) {
                        var result = ajax.responseText;
                        var json = JSON.parse(result);

                        $("#tags").autocomplete({
                            source: json
                        });


                    }
                }
            };
        }
    }

    function keyupanddown() {

        $("#keyword").keydown(function (event) {

            //alert(event.keyCode);
        });
    }

    function insertContent(content) {
        clearContent();
        setLocation();
        var json = JSON.parse(content);
        var len = json.length;
        for (var i = 0; i < len; i++) {
            var value = json[i];
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            td.setAttribute("bgcolor", "#FFFAFA");
            td.setAttribute("border", "0");
            td.onmouseover = function () {
                this.className = 'mouseOver';
            };
            td.onmouseout = function () {
                this.className = 'mouseOut';
            };
            td.onclick = function () {
                // document.getElementById("keyword").value=this.;
            };
            var text = document.createTextNode(value);
            td.appendChild(text);
            tr.appendChild(td);
            document.getElementById("content_table_body").appendChild(tr);
        }

    }

    function clearContent() {
        var popNode = document.getElementById("popDiv");
        popNode.style.border = "none";
        var contentNode = document.getElementById("content_table_body");
        var len = contentNode.childNodes.length;
        for (var i = len - 1; i >= 0; i--) {
            contentNode.removeChild(contentNode.childNodes[i]);
        }
    }

    function setLocation() {
        var inputNode = document.getElementById("keyword");
        var width = inputNode.offsetWidth;
        var left = inputNode["offsetLeft"];
        var top = inputNode.offsetHeight + inputNode["offsetTop"];
        var popNode = document.getElementById("popDiv");
        popNode.style.border = "gray 0.5px solid";
        popNode.style.width = width + "px";
        popNode.style.top = top + "px";
        popNode.style.left = left + "px";
        document.getElementById("content_table").style.width = width + "px";

    }

    //var app1 = angular.module('myApp1', []);
    //var app2 = angular.module('myApp2', []);
    //var app3 = angular.module('myApp3', []);

    //app1.controller('personCtrl', function ($scope) {
    //    $scope.firstName = 'Aaron';
    //    $scope.lastName = 'S';
    //    $scope.fullName = function () { return $scope.firstName + $scope.lastName; }
    //});

    //app2.controller('personCtrl', function ($scope) {
    //    $scope.firstName = 'Andy';
    //    $scope.lastName = 'W';
    //    $scope.fullName = function () { return $scope.firstName + $scope.lastName; }
    //});

    //angular.element(document).ready(function () {
    //    //angular.bootstrap(document.getElementById("app2div"), ['myApp2']);
    //    //angular.bootstrap(document.getElementById("app3div"), ['myApp3']);
    //    //angular.bootstrap(document.getElementsByName('angdiv'), ['myApp2','myApp3']);
    //    angular.bootstrap(document, ['myApp2','myApp3']);
    //});

    //var app = angular.module('myApp', []);
    //app.controller('myCtrl', function ($scope) {
    //    $scope.name = "John Doe";
    //});

    //var app = angular.module('myApp', []);
    //app.controller('myCtrl', function ($scope) {
    //    $scope.sayHello = function () {
    //        if ($scope.name) {
    //            $scope.greeting = $scope.name + "!";
    //        } else {
    //            $scope.greeting = "?";
    //        }
            
    //    }
    //});

    var app = angular.module('myApp', []);

    app.controller('myCtrl', function ($scope) {
        $scope.names = ["Emil", "Tobias", "Linus"];
    });



</script>

@*<div ng-app="myApp" ng-controller="myCtrl">

    <ul>
        <li ng-repeat="x  in names">{{x | uppercase }}</li>
    </ul>

</div>*@


@*<div ng-app="myApp" ng-controller="myCtrl">
    <input ng-model="name" />
    <h1>{{greeting}}</h1>
    <button ng-click="sayHello()">确认</button>
</div>*@


@*<form ng-app="" name="myForm" ng-init="myText = 'test@runoob.com'">
    Email:
    <input type="email" name="myAddress" ng-model="myText" required></p>
    <h1>状态</h1>
    {{myForm.myAddress.$valid}}
    {{myForm.myAddress.$dirty}}
    {{myForm.myAddress.$touched}}
</form>*@



@*<form ng-app="" name=" myForm">
    Email:
    <input type="email" name="myAddress" ng-model="text" />
    <br />
    <span ng-show="myForm.myAddress.$error.email">非法邮箱地址</span>

</form>*@


@*<div ng-app="myApp" ng-controller="myCtrl">
    名字:<input ng-model="name"  />
   
    <input value="{{name}} " />

</div>*@


<div class="container">

    <div id="myDiv" class="row">

        <input class="text-info" size="50" id="tags" onkeyup="getMoreContents()"
               onfocus="getMoreContents()" onblur="clearContent()" />
        <input type="button"  class="btn-primary" value="搜索一下"/>
    </div>

</div>



@*<div class="angdiv" id="app1div" ng-app="myApp1" ng-controller="personCtrl">
        <p>personCtrl</p>
        First name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        Full Name: {{fullName()}}
    </div>

    <br><br>
    <div class="angdiv" id="app2div" ng-app="myApp2" ng-controller="personCtrl">
        <p>personCtrl</p>
        First name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        Full Name: {{fullName()}}
    </div>

    <div class="angdiv" id="app3div" ng-app="myApp3" ng-init="points=[1,15,19,2,40]">

        <p>第三个值为 {{ points[2] }}</p>

    </div>*@



@*<div ng-app="" ng-init="names=[
    {name:'Jani',country:'Norway'},
    {name:'Hege',country:'Sweden'},
    {name:'Kai',country:'Denmark'}]">
        <ul>
            <li ng-repeat="x in names">
              {{x.name+"-"+x.country}}
            </li>

        </ul>

    </div>*@















