
@{
    ViewBag.Title = "SearchView";
    Layout = "~/Views/Shared/_LayoutEasyUI.cshtml";
}

<script src="~/Scripts/CustomJS/SearchDialog.js"></script>
<script src="~/Scripts/CustomJS/Kquery.js"></script>
<div>
    <input class="btn-primary" value="test" id="btn" />

</div>

<script type="text/javascript">

    $().ready(function () {
        //KWrench.kimlog("ktest1");

        //Kquery.firstFunc('ktest2');

        var data = {
            DomArr: ['A', 'B'],
            FieldArr:['C']
        }
        SearchDialog.SearchDialog(data);

       



    });

</script>

